header {
  height: 170px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #3262AE;
  color: beige;
  font-size: 36px;
}

.part {
  width: 33%;
}

.meio {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/AtvuCnyg.jpg')  ;
  background-position:  initial; 
  background-size: contain;
  background-repeat: no-repeat;

}