header {
  height: 150px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(35, 44, 61);
  color: beige;
  font-size: 40px;
}

.part {
  width: 33%;
}